  .slick-dots.slick-thumb li {
    width: 60px;
    height: 60px;
    top: 50px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: white;
    overflow: hidden;
  }
  
  .slick-dots.slick-thumb li.slick-active {
    border: 1px solid black;
    width: 60px;
  }
  