@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url("../public/assets/styles/Carousel.css");
@import url("../public/assets/styles/EditAddressModal.css");
@import url("../public/assets/styles/FixedNavbar.css");
@import url("../public/assets/styles/HomeCategories.css");
@import url("../public/assets/styles/MobileHeader.css");
@import url("../public/assets/styles/MultiRangeSlider.css");
@import url("../public/assets/styles/ProtectPurchaseCard.css");
@import url("../public/assets/styles/DetailsProductPhoto.css");
@import url("../public/assets/styles/ShopFilter.css");


@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #02a91c;
    border: 0px none #02a91c;
    border-radius: 100px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #02a91c;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #02a91c;
  }
  ::-webkit-scrollbar-track {
    background: #cccccc;
    border: 0px none #02a91c;
    border-radius: 100px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #cccccc;
  }
  ::-webkit-scrollbar-track:active {
    background: #cccccc;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  .line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    -webkit-box-pack: end;
  }

  .line-clamp222 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    -webkit-box-pack: end;
  }

  
.product-slider-img img {
  object-fit: contain;
}


.befor{
  font-family: sans-serif;
  text-align: center;
  font-size: 16px;
  position: relative;
}

.befor:before {
  content: "";
  display: block;
  width: 180px;
  height: 2px;
  background: gray;
  left: 120%;
  top: 50%;
  position: absolute;
}

.befor:after {
  content: "";
  display: block;
  width: 180px;
  height: 2px;
  background: gray;
  right: 120%;
  top: 50%;
  position: absolute;
}


@media screen and (max-width: 600px) {
  .befor:before {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: gray;
    left: 120%;
    top: 50%;
    position: absolute;
  }
  
  .befor:after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: gray;
    right: 120%;
    top: 50%;
    position: absolute;
}
}